*{
    margin: 0;
    padding: 0;
    background-color:rgb(6, 6, 53);
    font-family: 'Oswald', sans-serif;
}
.container{
    display: flex;
    justify-content: space-around;
    
}
.container .navbar{
    margin-left: 70px;
}
.container .navbar ul li{
    margin-left: 40px;
}
.navbar ul li a:hover{
    color:rgb(110, 17, 17) ;
    transition: 0.37s;
}
.logo{
    color: rgb(255, 68, 0);
    font-family: 'Oswald', sans-serif;
    font-size: larger;
}
.navbar{
    font-family: 'Oswald', sans-serif;
}
.navbar ul li{
    display: inline;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
}
.hello{
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 68, 0);
    font-size: xx-large;
    margin: 20px;
    z-index: 1;
}
.para{
    color: whitesmoke;
    font-size: x-large;
    z-index: 1;
}
button{
    background-color: rgb(255, 68, 0);
    width:110px ;
    height: 40px;
    border: 0px;
    border-radius: 20px;
    transition: 0.4s;
}
button:hover{
    width: 150px;
    background-color:rgb(110, 17, 17) ;
    color: white;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button{
    z-index: 1;
    margin-top: 20px;
}
.img {
    align-self: flex-end;
    position:absolute;
    right: 100px;
    z-index: 0;
    width:400px;
    height: 400px;
}